:root {
  font: 16px / 1 sans-serif;
  font-family: 'Verdana';
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(241, 241, 241);
}
header {
  display: flex;
  border: 1px solid rgb(209, 209, 209);
  justify-content: space-between;
  height: 63px;
  background-color: rgb(254, 254, 254);
  opacity: 85%;
  position: fixed;
  left: 0;
  right: 0;
}
.header-1 {
  /* border: solid; */
  height: 40px;
  list-style: none;
  display: flex;
  padding: 7px;
  margin-top: 6px;
}
.header-2 {
  /* border: solid; */
  padding: 10px;
  list-style: none;
  display: flex;
  padding: 7px;
  margin-top: 6px;
}
.header-1 li {
  padding: 10px;
  /* border: solid; */
  text-decoration: none;
}
.header-2 li {
  /* border: solid; */
  padding: 10px;
}

.header-1 img {
  width: 40px;
  height: 40px;
  margin-top: -13px;
}
a {
  text-decoration: none;
  color: rgb(31, 31, 31);
  font-size: 13px;
}

a.octodex {
  color: black;
  font-weight: bold;
  margin-left: -20px;
  font-size: 15px;
}
a.home {
  color: rgb(77, 77, 77);
}

footer {
  border: 1px solid rgb(209, 209, 209);
  width: 100%;
  display: flex;
  color: rgb(77, 77, 77);
  font-size: 13px;
  /* padding-top: 8px; */
  /* padding-bottom: 30px; */
}
div.footer {
  margin-top: 14px;
  margin-left: 20px;
  margin-bottom: 35px;
}
